# bot will search through until it finds a match for a user

# this is the default fallback for things/people without perms specified
# the commands allowed will be default-blacklist+whitelist
default:
  # this specifies which categories default users can use
  whitelist:
    - misc
    - music

  # No song may be queued that is longer than this in seconds
  max_song_length: 900

  # This is the number of songs that a user may have in the queue at one
  max_songs_queued: 15

  # This is the maximum length of a playlist that can be queued
  max_playlist_length: 15

# add specific perms for users here
# perms stated under users have precedence of perms under roles
users:
  240995021208289280:
    whitelist:
      - bot
      - player
      - moderation
      - comp
      - owner
      - developer
      - git
  140564059417346049:
    whitelist:
      - bot
      - player
      - moderation
      - comp
      - owner
      - git

  # special bot owner field
  owner: {}

  # use user ids
  000000000000000: {}

  # patrons!
  154825973278310400: # Satomi
    max_songs_queued: 65
    max_playlist_length: 65
    pledge: 5
  127373929600778240: # Tantusar
    max_songs_queued: 65
    max_playlist_length: 65
    pledge: 5
  319350638024720384: # Space Witch
    max_songs_queued: 45
    max_playlist_length: 45
    pledge: 3
  198191547970355200: # sills dog
    max_songs_queued: 25
    max_playlist_length: 25
    pledge: 1
  193874867324583936: # Eli / anonymouse
    max_songs_queued: 25
    max_playlist_length: 25
    pledge: 1

# add specific perms for roles
# roles higher in the hierarchy have precedence over roles lower in the hierarchy
roles:
  # moderators
  191344863038537728:
    # give mods all perms except owner
    whitelist:
      - bot
      - player
      - moderation
      - comp
      - git
    # idk, do we want to give mods perms to use all songs?

  # event team
  344352523466833930:
    # adds default stuff
    # this equals default stuff + comp stuff
    whitelist:
      - comp

  # developer
  334341418334027776:
    whitelist:
      - git
      - bot
      - developer

  # memelord
  334301546710040576:
    # blacklist memelords
    blacklist:
      - player
      - misc

  # I just set everything up for htc, set things up for your servers if you want
