<!DOCTYPE HTML>
<html>
    <head>
        <title>HTC MusicBot Queue</title>
        <link type="text/css" href="queue/main.css?q=1" rel="stylesheet">
        <meta name=viewport content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="header">HTC MusicBot Queue</div>

        <div id="container">
            <div class="card">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_7jpz_55EdM"
                        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
            </div>
        </div>
    </body>
</html>
