body, html {
    width: 100%;
    height: 100%;
    background-color: #EEE;
}
* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

#header {
    width: 100%;
    height: 128px;
    background-color: #303F9F;  /* 700 */
    font-size: 48px;
    line-height: 128px;
    text-align: center;
    color: #EEE;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.2);
}
#container {
    width: 50%;
    margin-left: 25%;
}
.card {
    width: 100%;
    background-color: #fafafa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
    word-wrap: break-word;
}
.card:hover {
    box-shadow: 0px 6px 2px 1px rgba(0,0,0,0.2);
}

.song-info {
    margin: 0 auto;
    width: calc(100% - 50px);
}

#skip-button {
    position: relative;
    top: 50%;
    transform: translateY(-15%); /*Idk, the centering works like this*/
    float: right;
    font-size: 20px;
    color: red;
}

.skip-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 768px) {
    @media (orientation: portrait) {
        #header {
            height: 56px;

            font-size: 21px;
            line-height: 56px;
        }
        #container {
            width: 80%;
            margin-left: 10%;
        }
        .card {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .card:hover {
            box-shadow: none;
        }
    }

    @media (orientation: landscape) {
        #header {
            height: 48px;

            font-size: 18px;
            line-height: 48px;
        }
        .card {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        #container {
            width: 75%;
            margin-left: 12.5%;
        }
    }
}
